%h2
  = @chart.name

%ul.nav.nav-tabs
  %li{class: @interval == 'daily' ? 'active' : nil}
    =link_to 'Daily', url(:charts, @service_name, @section_name, @chart_name, 'daily')
  %li{class: @interval == 'monthly' ? 'active' : nil}
    =link_to 'Monthly', url(:charts, @service_name, @section_name, @chart_name, 'monthly')

!= @chart.render_morris_chart(interval: @interval)
